# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
pytorch==1.0.1
torchvision==0.2.2
scikit-learn==0.20.3
progressbar2==3.38.0
pillow==5.4.1
pandas==0.24.2